<br /><br />
<div class="alert alert-primary text-center" role="alert">
    Empregados Cadastrados
</div>
<p salaryColor></p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Salário</th>
            <th>Bonus</th>
        </tr>
    </thead>
    <tbody>
        <tr></tr>
        <tr *ngFor="let employee of employees">
            <td>{{ employee.name }}</td>
            <td [ngClass]="{
          'salary-expensive': employee.salary > 4000,
          'salary-cheap': employee.salary < 1000
        }">
                {{ employee.salary }}
            </td>
            <td>{{ employee.bonus }}</td>
        </tr>
    </tbody>
</table>