<p [hidden]="!showMessageSuccess">
    O empregado {{ employee?.name }} foi cadastrado com sucesso!
</p>
<br />
<button type="button" class="btn btn-primary" (click)="openNewModal()">
  Adicionar Empregado
</button>
<br />
<br />
<div class="alert alert-primary text-center" role="alert">
    Empregados Cadastrados
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Salário</th>
            <th>Bonus</th>
        </tr>
    </thead>
    <tbody>
        <tr></tr>
        <tr *ngFor="let employee of employees">
            <td>{{ employee.name }}</td>
            <td salaryColor="{{ employee.salary }}">
                {{ employee.salary }}
            </td>
            <td>{{ employee.bonus }}</td>
        </tr>
    </tbody>
</table>

<employee-new-modal (onSubmit)="onNewEmployee($event)"></employee-new-modal>