<br />

<alert-success [hidden]="!showMessageSuccess">
    O empregado <strong>{{ employee?.name }} </strong> foi cadastrado com sucesso!
</alert-success>
<button type="button" class="btn btn-primary" (click)="openNewModal()">
  Adicionar Empregado
</button>
<br />
<br />
<div class="alert alert-primary text-center" role="alert">
    Empregados Cadastrados
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Salário</th>
            <th>Bonus</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr></tr>
        <tr *ngFor="let employee of employees">
            <td>{{ employee.name | uppercase }}</td>
            <td salaryColor="{{ employee.salary }}">
                {{ employee.salary | myCurrency }}
            </td>
            <td>{{ employee.bonus | myCurrency }}</td>
            <td>
                <a href="javascript:void(0)" (click)="openEditModal(employee)">Editar</a
        >
        |
        <a href="javascript:void(0)" (click)="openDestroyModal(employee)"
          >Excluir</a
        >
      </td>
    </tr>
  </tbody>
</table>

<employee-new-modal (onSubmit)="onNewEmployee($event)"></employee-new-modal>
<employee-edit-modal
  [employee]="employeeToEdit"
  (onSubmit)="onEditEmployee($event)"
></employee-edit-modal>
<employee-delete-modal
  [employee]="employeeToDelete"
  (onDestroy)="onDestroyEmployee($event)"
></employee-delete-modal>
